<a [routerLink]="['/LabCourse']" class="previous round">&#8249;</a>
<div class="container physics-lab">
  <h3>{{labCourseName}}</h3>
  <p>You will find all the Labs that are attached to {{labCourseName}} and that you need to finish <strong>below</strong></p>
  <br>
  <br>
  <h4>Labs:</h4>
  <table class="table table-responsive-sm table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="title">Lab Name</th>
      <th scope="col" class="description">PreLab</th>
      <th scope="col" class="description">Experiment</th>
      <th scope="col" class="Prelab">Tutorial</th>
    </tr>
    </thead>
    <tbody>
    <h1 *ngIf="newLabs.length == 0">Nothing has been added yet</h1>
    <tr *ngFor="let lab of newLabs;">
      <th class="title text"><span>{{lab.name}}</span></th>
      <td class="description text"><a [routerLink]="['/PreLab', lab._id]"><span>PreLab</span></a></td>
      <td class="description text"><a [routerLink]="['/Experiment', lab._id]"><span>Experiment</span></a></td>
      <td class="description text"><a><span>Tutorial</span></a></td>
    </tr>
    </tbody>
  </table>
</div>
