<div class="container chemistry-labs">
  <h3>Chemistry Labs</h3>
  <table class="table table-responsive-sm table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="title">Lab Name</th>
      <th scope="col" class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Chemistry/ChemistryLab_1']"><span>Chemistry Lab 1</span></a></th>
      <td class="description text"><span>Chemistry Lab Description to read about.</span></td>
    </tr>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Chemistry/ChemistryLab_2']"><span>Chemistry Lab 2</span></a></th>
      <td class="description text"><span>Chemistry Lab Description to read about.</span></td>
    </tr>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Chemistry/ChemistryLab_3']"><span>Chemistry Lab 3</span></a></th>
      <td class="description text"><span>Chemistry Lab Description to read about.</span></td>
    </tr>
    </tbody>
  </table>
</div>
