<div class="container prelabs">
  <table class="table table-responsive-sm table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="title">Lab Name</th>
      <th scope="col" class="description">Description</th>
      <th scope="col" class="lab">Lab Course</th>
      <th scope="col" class="action">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th class="title text"><span>title</span></th>
      <td class="description text"><span>Description to read about</span></td>
      <td class="lab text"><span>Some lab</span></td>
      <td class="action">
        <button type="button" class="btn btn-sm btn-success">Edit</button>
        <button type="button" class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
  <button class="btn btn-primary pull-right" data-toggle="modal" href="#addModalLab">Add</button>
  <div class="modal fade" id="addModalLab" role="dialog">
    <div class="modal-admin">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" id="close">&times;</button>
          <h3>Add Your Lab</h3>
        </div>
        <form (submit)="onSubmit()">
          <div class="modal-body">
            <div class="form-group">
              <label for="labName">Lab Name:</label>
              <input class="form-control" id="labName" type="text" [ngModel]="labName">
            </div>
            <br>
            <label for="experimentContent">Experiment :</label>

            <app-tinyeditor id="experimentContent" [elementId]="'addLab'"></app-tinyeditor>
            <br>
            <label>Prelab:</label>
            <app-survey-editor></app-survey-editor>
            <label for="numberEdit">lab Course Number:</label>
            <div class="form-group input-group">
              <input type="text" id="numberEdit" class="form-control" name="number" [ngModel]="labNumber">
              <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button" (click)="incrementEdit()"><i class="fa fa-caret-up"></i></button>
                <button class="btn btn-default" type="button" (click)="decrementEdit()"><i class="fa fa-caret-down"></i></button>
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <a class="btn btn-md btn-danger" data-dismiss="modal">Cancel</a>
          <button type="submit" class="btn btn-md btn-primary">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <link type="text/css" rel="stylesheet" id="a" href="">
</div>
