<div class="container physics-labs">
  <h3>Physics Labs</h3>
  <table class="table table-responsive-sm table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="title">Lab Name</th>
      <th scope="col" class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Physics/PhysicsLab_1']"><span>Physics Lab 1</span></a></th>
      <td class="description text"><span>Physics Lab Description to read about.</span></td>
    </tr>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Physics/PhysicsLab_2']"><span>Physics Lab 2</span></a></th>
      <td class="description text"><span>Physics Lab Description to read about.</span></td>
    </tr>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Physics/PhysicsLab_3']"><span>Physics Lab 3</span></a></th>
      <td class="description text"><span>Physics Lab Description to read about.</span></td>
    </tr>
    </tbody>
  </table>
</div>
