<div class="container electronics-labs">
  <h3>Electronics Labs</h3>
  <table class="table table-responsive-sm table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="title">Lab Name</th>
      <th scope="col" class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Electronics/ElectronicsLab_1']"><span>Electronics Lab 1</span></a></th>
      <td class="description text"><span>Electronics Lab Description to read about.</span></td>
    </tr>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Electronics/ElectronicsLab_2']"><span>Electronics Lab 2</span></a></th>
      <td class="description text"><span>Electronics Lab Description to read about.</span></td>
    </tr>
    <tr>
      <th class="title text"><a [routerLink]="['/labs/Electronics/ElectronicsLab_3']"><span>Electronics Lab 3</span></a></th>
      <td class="description text"><span>Electronics Lab Description to read about.</span></td>
    </tr>
    </tbody>
  </table>
</div>
