<div class="nav-side-menu">
  <div class="brand">Dashboard Navigation</div>
  <div class="menu-list">

    <ul id="menu-content" class="menu-content" >

      <a routerLink="/" routerLinkActive="active">
        <li>
          <a ><i class="fa fa-home fa-lg"></i> Home </a>
        </li>
      </a>
      <a routerLink="/dashboard" routerLinkActive="active">
        <li>
          <a>
            <i class="fa fa-dashboard fa-lg"></i>Dashboard
          </a>
        </li>
      </a>
      <a routerLink="/dashboard/LabCourses" routerLinkActive="active">
        <li>
          <a><i class="fa fa-globe fa-lg"></i> Lab Courses </a>
        </li>
      </a>

      <a routerLink="/dashboard/Lab" routerLinkActive="active">
        <li>
          <a><i class="fa fa-globe fa-lg"></i> Lab </a>
        </li>
      </a>
    </ul>
  </div>
</div>
